<div id ="main">
<h1>Welcome to Rock Paper Scissors!</h1>
<p>Please select Rock, Paper, or Scissors!</p>

<ul>
		<li><%= link_to "Rock", rock_paper_scissor_path(0) %></li>
		<li><%= link_to "Paper", rock_paper_scissor_path(1) %></li>
		<li><%= link_to "Scissors", rock_paper_scissor_path(2) %></li>
</ul>
</div>