<h1>RockPaperScissors#new</h1>
<p>Find me in app/views/rock_paper_scissors/new.html.erb</p>


<h2>Choose cafefully! (R)ock, (P)aper, (S)cissors:</h2>
<!-- 
<ul>
<% @throws.each do |choice| %>
  <li><%= link_to choice, rock_paper_scissors_show_path(choice) %></li>
<% end %>
</ul> -->