<h1>RockPaperScissors#show</h1>
<p>Find me in app/views/rock_paper_scissors/show.html.erb</p>


  	if win == true
  	<p>	"Good job" </p>
    elsif tie = true
    <p> "yikes a tie!" </p>
	  else  #win == false
	<p>	"You lost" </p>
	
